.cards__image {
  margin: 0;
  padding: 0;
  display: block;
  width: 282px;
  height: 282px;
  z-index: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
  object-fit: cover;
}

.cards__image:hover {
  opacity: 0.9;
}
