.popup__close {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: center / contain no-repeat url("../../../images/Close_icon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  opacity: 1;
  transition: opacity 1s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 596px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: -0px;
    top: -34px;
  }
}
