.profile__button_type_edit-description {
  width: 24px;
  height: 24px;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: end;
  box-sizing: border-box;
  background: center center no-repeat url("../../../../images/edit_button.svg");
  border: 1px solid white;
  margin-bottom: 9px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__button_type_edit-description:hover {
  opacity: 0.6;
}

@media screen and (max-width: 596px) {
  .profile__button_type_edit-description {
    width: 18px;
    height: 18px;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 2px;
  }
}
