.profile__add-button {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 150px;
  height: 50px;
  justify-self: end;
  align-self: center;
  box-sizing: border-box;
  background: center center no-repeat url("../../../images/add-button.svg");
  border: 2px solid white;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 979px) {
.profile__add-button {
  grid-column: 2;
  grid-row: 3;
  }
}

@media screen and (max-width: 596px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    align-self: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 4;
    margin: 22px 0 36px;
  }
}
