.cards__like {
    margin: 0;
    margin-right: 20px;
    background: center center no-repeat url('../../../images/like.svg');
    width: 22px;
    height: 19px;
    border: none;
    opacity: 1;
}

.cards__like:hover {
    opacity: 0.5;
    transition: opacity 1s linear;
}
