.cards {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  grid-gap: 20px 17px;
}

@media screen and (max-width: 979px) {
  .cards {
    padding: 0 calc((100% - 282px * 2 - 17px) / 2);
  }
}

@media screen and (max-width: 596px) {
  .cards {
    padding: 0 calc((100% - 282px) / 2);
  }
}
