.popup__submit {
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 21.78px;
    padding: calc((50px - 21.78px) / 2);
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
    transition: opacity 1s linear;
}

@media screen and (max-width: 596px) {
    .popup__submit {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 16.94px;
      padding: 14px 82px;
    }
}
