.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 596px) {
.profile__title {
  font-size: 27px;
  line-height: 32.68px;
  }
}
