.cards__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-left: 21px;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
