.profile__name {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: end;
    max-width: 400px;
}

@media screen and (max-width: 596px) {
    .profile__name {
      align-self: center;
      justify-self: center;
      grid-row: 2;
      grid-column: 1;
      max-width: 257px;
      }
    }