.popup__container {
  background-color: white;
  color: black;
  width: 430px;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: absolute;
  min-height: fit-content;
}

@media screen and (max-width: 596px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
