@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/__container/page__container.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__user-pic/profile__user-pic.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__title/profile__title.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/cards/__item/cards__item.css");
@import url("../blocks/cards/__image/cards__image.css");
@import url("../blocks/cards/__remove/cards__remove.css");
@import url("../blocks/cards/__caption/cards__caption.css");
@import url("../blocks/cards/__title/cards__title.css");
@import url("../blocks/cards/__like/cards__like.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__image/popup__image.css");
@import url("../blocks/popup/_is-opened/popup_is-opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__container/_type/popup__container_type_img.css");
@import url("../blocks/cards/__like/_is-active/cards__like_is-active.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__caption/popup__caption.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__field/popup__field.css");
@import url("../blocks/popup/__field/_type/popup__field_type_name.css");
@import url("../blocks/popup/__field/_type/popup__field_type_occupation.css");
@import url("../blocks/popup/__error/popup__error.css");
@import url("../blocks/popup/__submit/popup__submit.css");
