.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
